.react-calendar {
  /* width: 1150px; */
  /* margin-left: calc(-100vw / 2 + 500px / 2);
  margin-right: calc(-100vw / 2 + 500px / 2); */
  max-width: 100%;
  /* margin-right: 0; */
  /* background: white; */
  height: 100%;
  /* border: 1px solid #a0a096; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: 2em;
  /* background-image: url('./assets/images/Wave.svg'); */
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* .react-calendar,
.react-calendar *,
.react-calendar *:before{
  color: #e6e6e6
}
.react-calendar *:hover{
  color:#000000;
} */
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color: #e6e6e6
}
.react-calendar button:hover {
  color:#000000;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
  
}
.react-calendar__navigation {
  height: 36px;
  /* margin-bottom: 0.5em; */
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
  color:'#000000';
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-size:small;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding: calc(2em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #e6dede;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.3em 0.3em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #3D4E81;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #3D4E81;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: linear-gradient(to left, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
  color: black;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background:  #5753C9;
  color:#000000
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
